@import url('./reset.css');
@import url('../assets/fonts/typography.css');

$color-dirtywhite: #F0E6E6;
$color-dirtywhiteHalf: #757575;
$color-fadedblack: #010101;
$color-accent1: #FF2647;
$color-accent2: #32DEED;

* {
  ::-webkit-scrollbar {
    width: 0;
    display: none;
  }
}

main {
  height: 100%;
  width: 100%;
  border: 1px solid $color-dirtywhite;
  overflow: hidden;
  em {
    font-feature-settings: 'ss01';
  }
}

.resize_cover {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background: $color-fadedblack;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 500px;
    height: 500px;
  }
}

.menu, .menu_drawer {
  border-right: 1px solid $color-dirtywhite;
  background: $color-fadedblack;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid $color-dirtywhite;
  z-index: 50;
}

.menu svg {
  cursor: pointer;
  padding: 1rem;
  box-sizing: content-box;
}

.menu_drawer {
  display: flex;
}

.menu_links {
  width: 100%;
  color: $color-dirtywhite;
  display: flex;
  padding: 4rem 5rem 5rem 5rem;
}

.menu_links-projects {
  display: flex;
  flex-direction: column;
  > span {
    display: flex;
    font: 400 2.5rem/100% 'Neue Montreal';
    margin-bottom: 4rem;
    hr {
      width: 65%;
    }
  }
}

.menu_link {
  font: 300 5rem/100% 'Formula Condensed';
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  width: max-content;
  margin: 1rem 0;
  cursor: pointer;
}

.menu_drawer h4 {
  color: $color-dirtywhite;
  font: 400 1.6rem 'Neue Montreal';
  writing-mode: vertical-lr;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 3rem;
  // height: 100%;
  padding: 5rem 1rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

.landing_arrow-outer {
  transform-origin: center center;
  animation: spin 20s linear infinite;
}

.section_number {
  color: $color-dirtywhite;
  font: 400 2.5rem/100% 'Neue Montreal';
  letter-spacing: -0.03em;
}

.landing_slice h3 {
  color: $color-dirtywhite;
  width: 91.5vw;
  font: 400 20rem 'Formula Condensed';
  padding: 6rem 0 0 3rem;
  text-shadow: 0.4rem 0 $color-accent1,
               0.8rem 0 $color-accent2;
}

.welcome {
  position: relative;
}

.welcome h1 {
  color: $color-dirtywhite;
  background: $color-fadedblack;
  font: 100 120rem/50% 'Formula Condensed';
  letter-spacing: -0.03em;
  padding: 36rem 0 0 0;
  width: 335rem;
}

.welcome_definition {
  width: 50rem;
  background: $color-accent1;
  border: 2px solid $color-fadedblack;
  padding: 3rem;
  position: absolute;
  top: 40%;
  left: 30%;
  span {
    display: block;
    font: 400 4rem/100% 'Formula Condensed';
  }
  span:last-of-type {
    font: italic 700 1.6rem/120% 'Neue Montreal';
    margin-bottom: 2rem;
  }
  h5 {
    text-transform: uppercase;
    font: 400 2.5rem/120% 'Neue Montreal';
    margin-bottom: 2rem;
  }
  h6 {
    font: 100 1.6rem/120% 'Neue Montreal';
    text-transform: uppercase;
    text-align: right;
  }
}


.selectedworks_counter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.selectedworks_counter-mask {
  color: $color-accent1;
  font: 400 2.5rem/100% 'Neue Montreal';
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  padding-right: 2rem;
  height: 2.2rem;
  width: 100%;
  overflow: hidden;
  span {
    color: $color-dirtywhiteHalf;
    font-size: 1.5rem;
  }
}

.selectedworks_counter_column {
  width: 1.5rem;
  word-break: break-all;
  text-align: center;
  &:first-of-type {
    text-align: right;
  }
}

.selectedworks_sidebar {
  color: $color-dirtywhite;
  padding: 2rem;
  // font: 400 5.25rem 'Neue Montreal';
  font: 400 25rem/100% 'Neue Montreal';
  letter-spacing: -0.03em;
  span {
    // font: 800 5rem 'Formula Condensed';
    font: 800 23.5rem/100% 'Formula Condensed';
    letter-spacing: 0.01em;
  }
}

.selectedworks_projects {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.selectedworks_project {
  color: $color-dirtywhite;
  height: calc(100dvh - 4.6vw);
  position: relative;
}

.selectedworks_project-right {
  text-align: right;
  .selectedworks_project_info {
    justify-content: flex-end;
    padding-left: unset;
    padding-right: 5rem;
  }
  .selectedworks_project_button {
    margin-left: unset;
    margin-right: 5rem;
  }
}

.selectedworks_project_awards {
  font: 400 1.4rem/140% 'Neue Montreal';
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  text-align: center;
  top: -7.5rem;
  right: 5rem;
  span {
    display: block;
  }
}

.selectedworks_project_info {
  font: 400 1.6rem/120% 'Neue Montreal';
  text-transform: uppercase;
  display: flex;
  text-align: right;
  padding-left: 5rem;
  span:first-of-type {
    text-align: left;
    margin-right: 2.5rem;
  }
  a {
    text-decoration: none;
    color: inherit;
    transition: all 300ms ease-in-out;
    position: relative;
    &::after {
      content: "";
      display: block;
      width: 0%;
      height: 0.1rem;
      position: absolute;
      background: $color-accent1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 300ms ease-in-out;
    }
    &:hover {
      color: $color-accent1;
      &::after {
        width: 100%;
      }
    }
  }
}

.selectedworks_project_title {
  font: 400 15rem/100% 'Neue Montreal';
  text-transform: uppercase;
  letter-spacing: -0.03em;
  margin: 2.5rem auto 5rem;
  span {
    font: 700 15rem/100% 'Formula Condensed';
    letter-spacing: 0.015em;
  }
}

.selectedworks_project_button {
  all: unset;
  cursor: pointer;
  border: 0.1rem solid $color-accent1;
  border-radius: 2.5rem;
  box-sizing: border-box;
  color: $color-accent1;
  font: 300 2.8rem/100% 'Formula Condensed';
  height: 5rem;
  margin-left: 5rem;
  padding: 1rem 2rem 0;
  text-transform: uppercase;
  transition: all 400ms ease;
  &:hover {
    box-shadow: 5px 5px 10px -5px $color-accent1, inset -5px -5px 25px -10px $color-accent1;
    color: $color-dirtywhite;
  }
  &:active {
    box-shadow: none;
    color: $color-dirtywhite;
  }
}

.projectpage {
  color: $color-dirtywhite;
  position: relative;
  padding: 4rem 5rem 5rem;
  >* {
    pointer-events: all;
  }
}

.projectpage_top {
  display: flex;
  flex-wrap: wrap;
  padding-left: 45rem;
  p {
    font: 400 1.6rem/120% 'Neue Montreal';
    letter-spacing: 0.03em;
    margin: 0 0 2rem;
    transform: translateY(50%);
    opacity: 0;
  }
}

.projectpage_back {
  position: absolute;
  top: 5rem;
  left: 5rem;
  background: $color-fadedblack;
  border: 1px solid $color-accent1;
  border-radius: 2.5rem;
  box-sizing: border-box;
  color: $color-accent1;
  cursor: pointer;
  font: 300 2.8rem/100% 'Formula Condensed';
  height: 5rem;
  padding: 1rem 2rem 0;
  transition: box-shadow 400ms ease, color 400ms ease;
  &:hover {
    box-shadow: 5px 5px 10px -5px $color-accent1, inset -5px -5px 25px -10px $color-accent1;
    color: $color-dirtywhite;
  }
  &:active {
    box-shadow: none;
    color: $color-dirtywhite;
  }
  transform: translateY(50%) scale(0.8);
  opacity: 0;
}

.projectpage h3 {
  font: 400 6.4rem/100% 'Neue Montreal';
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-right: 5rem;
  div:last-of-type span {
    font: 700 6.4rem/100% 'Formula Condensed';
    letter-spacing: 0.01em;
  }
  div {
    overflow: hidden;
    span {
      display: inline-block;
      transform: translateY(110%);
    }
  }
}

.projectpage_info {
  font: 400 1.6rem/120% 'Neue Montreal';
  text-transform: uppercase;
  white-space: pre;
  padding-top: 2rem;
  div {
    margin-bottom: 0.2rem;
    overflow: hidden;
    span, a {
      transform: translateY(2rem);
      display: inline-block;
    }
    span:first-of-type {
      width: 9.5rem;
    }
  }
  a {
    text-decoration: none;
    color: inherit;
    transition: color 300ms ease-in-out;
    position: relative;
    &::after {
      content: "";
      display: block;
      width: 0%;
      height: 0.1rem;
      position: absolute;
      background: $color-accent1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: width 300ms ease-in-out;
    }
    &:hover {
      color: $color-accent1;
      &::after {
        width: 100%;
      }
    }
  }
}

.projectpage_carousel {
  width: max-content;
  height: 40rem;
  position: relative;
  overflow: visible;
  display: flex;
  img {
    transform: translateY(30%);
    opacity: 0;
    height: 100%;
    width: 60rem;
    object-fit: cover;
    object-position: top;
    margin-right: 5rem;
    border: 1px solid $color-dirtywhite;
  }
}

.projectpage_carousel_nav {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  opacity: 0;
  button {
    font: 300 4.8rem/100% 'Formula Condensed';
    color: $color-accent1;
    border: 1px solid $color-accent1;
    padding: 0.5rem 1.5rem 0;
    border-radius: 50%;
    margin: 0 2.5rem;
    cursor: pointer;
    transition: all 400ms ease;
    &:hover {
      box-shadow: 5px 5px 10px -5px $color-accent1, inset -5px -5px 25px -10px $color-accent1;
      color: $color-dirtywhite;
    }
    &:active {
      box-shadow: none;
      color: $color-dirtywhite;
    }
  }
}

.projectpage_visit {
  text-decoration: none;
  position: absolute;
  bottom: 5rem;
  right: 5rem;
  background: $color-accent1;
  border: 1px solid $color-fadedblack;
  border-radius: 2.5rem;
  box-sizing: border-box;
  color: $color-fadedblack;
  cursor: pointer;
  font: 300 2.8rem/100% 'Formula Condensed';
  height: 5rem;
  padding: 1.5rem 2rem 0;
  transition: box-shadow 400ms ease, color 400ms ease, border 400ms ease, background 400ms ease;
  transform: translateY(50%) scale(0.8);
  opacity: 0;
  &:hover {
    box-shadow: 5px 5px 10px -5px $color-accent1, inset -5px -5px 25px -10px $color-accent1;
    color: $color-accent1;
    border: 1px solid $color-accent1;
    background: $color-fadedblack
  }
  &:active {
    box-shadow: none;
    color: $color-accent1;
    border: 1px solid $color-accent1;
    background: $color-fadedblack
  }
}
