@import url('./reset.css');
@import url('../assets/fonts/typography.css');

$color-dirtywhite: #F0E6E6;
$color-dirtywhiteHalf: #757575;
$color-fadedblack: #010101;
$color-accent1: #FF2647;
$color-accent2: #32DEED;

* {
  ::-webkit-scrollbar {
    width: 0;
    display: none;
  }
}

main {
  height: 100%;
  width: 100%;
  border: 1px solid $color-dirtywhite;
  overflow: hidden;
  em {
    font-feature-settings: 'ss01';
  }
  > div > div > div {
    overscroll-behavior-y: none;
  }
}

.resize_cover {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background: $color-fadedblack;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 500px;
    height: 500px;
  }
}

.section_number {
  color: $color-dirtywhite;
  font: 400 2.5rem/100% 'Neue Montreal';
  letter-spacing: -0.03em;
  @media screen and (aspect-ratio > 1.8) {
    font-size: 3vh;
  }
  @media screen and (aspect-ratio < 1) {
    font-size: 5vw;
  }
}
