@import url('./reset.css');
@import url('../assets/fonts/typography.css');

$color-dirtywhite: #F0E6E6;
$color-dirtywhiteHalf: #757575;
$color-fadedblack: #010101;
$color-accent1: #FF2647;
$color-accent2: #32DEED;

* {
  ::-webkit-scrollbar {
    width: 0;
    display: none;
  }
}

main {
  height: 100%;
  width: 100%;
  border: 1px solid $color-dirtywhite;
  overflow: hidden;
  em {
    font-feature-settings: 'ss01';
  }
}

.resize_cover {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background: $color-fadedblack;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 500px;
    height: 500px;
  }
}

// MENU COMPONENT
.menu, .menu_drawer {
  border-right: 1px solid $color-dirtywhite;
  background: $color-fadedblack;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid $color-dirtywhite;
  z-index: 50;
}

.menu svg {
  cursor: pointer;
  box-sizing: content-box;
}

.menu_drawer {
  display: flex;
}

.menu_links {
  width: 100%;
  color: $color-dirtywhite;
  padding: 4rem 5rem 5rem 5rem;
  @media screen and (aspect-ratio > 1.75) {
    padding: 5vh;
    display: flex;
    justify-content: space-between;
  }
}

.menu_links-projects, .menu_links-experiments {
  height: 50%;
  display: flex;
  flex-direction: column;
  > span {
    display: flex;
    font: 400 2.5rem/100% 'Neue Montreal';
    margin-bottom: 2rem;
    hr {
      width: 85%;
      border-color: $color-accent1;
    }
  }
  @media screen and (aspect-ratio > 1.75) {
    height: 100%;
    > span {
      font-size: 3vh;
      margin-bottom: 2.5vh;
    }
  }
}

.menu_links-projects {
  @media screen and (aspect-ratio > 1.75) {
    width: 75%;
    margin-right: 3%;
    height: 70%;
  }
}

.menu_links-experiments {
  width: 50%;
  > span hr {
    width: 65%;
  }
}

.menu_links-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 80%;
  @media screen and (aspect-ratio > 1.75) {
    width: 100%;
  }
}

.menu_link {
  font: 200 4.5rem/100% 'Formula Condensed';
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  width: max-content;
  margin: 0.5rem 0;
  cursor: pointer;
  @media screen and (aspect-ratio > 1.75) {
    font-size: 6.5vh;
    margin: 1vh 0;
    letter-spacing: 0;
  }
}

.menu_opencontact {
  position: absolute;
  right: 5rem;
  bottom: 5rem;
  cursor: pointer;
  border: 0.1rem solid $color-accent1;
  border-radius: 2.5rem;
  box-sizing: border-box;
  color: $color-accent1;
  font: 200 2.8rem/100% 'Formula Condensed';
  letter-spacing: 0.03em;
  height: 5rem;
  margin-right: 3rem;
  padding: 1rem 2rem 0;
  text-transform: uppercase;
  transition: all 400ms ease;
  &:hover {
    box-shadow: 5px 5px 10px -5px $color-accent1, inset -5px -5px 25px -10px $color-accent1;
    color: $color-dirtywhite;
  }
  &:active {
    box-shadow: none;
    color: $color-dirtywhite;
  }
  @media screen and (aspect-ratio > 1.75) {
    right: 5vh;
    bottom: 5vh;
    font-size: 3.5vh;
    border-radius: 3vh;
    height: 6vh;
    padding: 1.5vh 2vh 0;
  }
}

@keyframes spin {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

.menu_teaser {
  color: $color-dirtywhite;
  font: 400 1.6rem 'Neue Montreal';
  writing-mode: vertical-lr;
  width: 4.5rem;
  padding: 2.5rem 1rem;
  border-left: 1px solid $color-dirtywhite;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  div {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 2.5rem 0;
  }
  svg {
    width: 2rem;
    height: 2rem;
    animation: spin 10s linear infinite;
    &:last-of-type {
      animation-direction: reverse;
    }
  }
  @media screen and (aspect-ratio > 1.75) {
    font-size: 2.2vh;
    width: 6vh;
    padding: 2vh 1.5vh;
    svg {
      width: 2.5vh;
      height: 2.5vh;
    }
  }
}
// END MENU COMPONENT

// CONTACT FORM COMPONENT
.contact_form {
  position: absolute;
  left: 0;
  top: 100%;
  width: calc(100% - 3.1vw);
  height: 100%;
  background: $color-fadedblack;
  color: $color-dirtywhite;
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $color-dirtywhite;
  @media screen and (aspect-ratio > 1.75) {
    width: calc(100% - 6vh);
    padding: 5vh;
  }
}

form {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.form_heading {
  font: 600 8rem/120% 'Formula Condensed';
  text-transform: uppercase;
  border-bottom: 0.3rem solid $color-accent1;
  width: max-content;
  margin-bottom: 5rem;
  @media screen and (aspect-ratio > 1.75) {
    font-size: 8vh;
    border-bottom: 0.5vh solid $color-accent1;
  }
}

.form_input {
  display: flex;
  width: 100%;
  margin-bottom: 3rem;
  label {
    font: 400 2.5rem/100% 'Neue Montreal';
    margin-right: 1.5rem;
    svg {
      transform: translate(.5rem, -.5rem);
    }
  }
  input {
    all: unset;
    flex-grow: 1;
    border-bottom: 1px solid  $color-dirtywhite;
    font: 400 2.5rem/100% 'Neue Montreal';
    padding-bottom: 0.5rem;
    transform: translateY(-0.2rem);
    &:focus {
      border-bottom: 1px solid $color-accent1;
    }
  }
  @media screen and (aspect-ratio > 1.75) {
    margin-bottom: 3vh;
    label {
      margin-right: 2vh;
      font-size: 3vh;
    }
    input {
      font-size: 3vh;
      padding-bottom: 0.5vh;
    }
  }
}

.form_slider {
  display: flex;
  margin-bottom: 3rem;
  label {
    font: 400 2.5rem/100% 'Neue Montreal';
    margin-right: 1.5rem;
  }
  .slider_wrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;
    span {
      font: 400 2rem/100% 'Neue Montreal';
    }
    div {
      display: flex;
      align-items: center;
      flex-grow: 1;
      position: relative;
      span {
        font-size: 1.5rem;
        position: absolute;
        top: -3rem;
        left: 13%;
      }
    }
    input {
      appearance: none;
      -webkit-appearance: none;
      width: 100%;
      background: transparent;
      &::-webkit-slider-runnable-track {
        background: $color-accent1;
        height: 2px;
        border-radius: 1px
      }
      &::-webkit-slider-thumb {
        appearance: none;
        -webkit-appearance: none;
        background: $color-dirtywhite;
        height: 2rem;
        width: 2rem;
        border-radius: 1rem;
        transform: translateY(-0.9rem);
      }
    }
  }
  @media screen and (aspect-ratio > 1.75) {
    margin-bottom: 3vh;
    label {
      font-size: 3vh;
      margin-right: 2vh;
    }
    .slider_wrapper {
      > span {
        font-size: 2vh;
        &:first-of-type {
          margin-right: 1vh;
        }
        &:last-of-type {
          margin-left: 1vh;
        }
      }
      div span {
        font-size: 2vh;
        top: -3.5vh;
      }
      input::-webkit-slider-thumb {
        height: 3vh;
        width: 3vh;
      }
    }
  }
}

.form_textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  margin-bottom: 3rem;
  label {
    display: block;
    font: 400 2.5rem/100% 'Neue Montreal';
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    svg {
      transform: translate(.5rem, -.5rem);
    }
  }
  textarea {
    resize: none;
    background: $color-dirtywhite;
    border-radius: 1rem;
    font: 400 2rem/125% 'Neue Montreal';
    padding: 1rem;
    display: block;
    flex-grow: 1;
    &:focus {
      outline: 0.2rem solid $color-accent1;
    }
  }
  @media screen and (aspect-ratio > 1.75) {
    margin-bottom: 3vh;
    label {
      font-size: 3vh;
      margin-right: 2vh;
      margin-bottom: 2vh;
    }
    textarea {
      font-size: 2vh;
      border-radius: 1vh;
      padding: 1vh;
    }
  }
}

.form_buttons {
  button {
    cursor: pointer;
    border: 0.1rem solid $color-accent1;
    border-radius: 2.5rem;
    box-sizing: border-box;
    color: $color-accent1;
    font: 200 2.8rem/100% 'Formula Condensed';
    letter-spacing: 0.03em;
    height: 5rem;
    margin-right: 3rem;
    padding: 1rem 2rem 0;
    text-transform: uppercase;
    transition: all 400ms ease;
    &:hover {
      box-shadow: 5px 5px 10px -5px $color-accent1, inset -5px -5px 25px -10px $color-accent1;
      color: $color-dirtywhite;
    }
    &:active {
      box-shadow: none;
      color: $color-dirtywhite;
    }
  }
  @media screen and (aspect-ratio > 1.75) {
    button {
      font-size: 3.5vh;
      height: 6vh;
      padding: 1.5vh 2.5vh 0.5vh;
      border-radius: 3vh;
    }
  }
}

.contact_thanks {
  position: absolute;
  top: 5rem;
  left: 5rem;
  font: 300 4rem 'Formula Condensed';
  letter-spacing: 0.03em;
  transform: translateY(-10%);
  opacity: 0;
  @media screen and (aspect-ratio > 1.75) {
    top: 5vh;
    left: 5vh;
    font-size: 4vh;
  }
}

.email_heading {
  font: 300 4rem/120% 'Formula Condensed';
  margin-bottom: 2rem;
  @media screen and (aspect-ratio > 1.75) {
    font-size: 5vh;
  }
}

.email_link {
  all: unset;
  cursor: pointer;
  font: 300 3.5rem/100% 'Formula Condensed';
  display: flex;
  transition: color 400ms ease;
  svg {
    margin-left: 2rem;
    height: 3rem;
    width: auto;
    overflow: visible;
    #email_arrow {
      transition: transform 400ms ease;
    }
  }
  &:hover {
    color: $color-accent1;
    #email_arrow {
      transform: translateX(1rem);
    }
  }
  @media screen and (aspect-ratio > 1.75) {
    font-size: 4vh;
    svg {
      margin-left: 3vh;
      height: 4vh;
    }
  }
}
// END CONTACTFORM COMPONENT

// LANDING SECTION
.landing_arrow-outer {
  transform-origin: center center;
  animation: spin 20s linear infinite;
}

.section_number {
  color: $color-dirtywhite;
  font: 400 2.5rem/100% 'Neue Montreal';
  letter-spacing: -0.03em;
  @media screen and (aspect-ratio > 1.75) {
    font-size: 3vh;
  }
}

.landing_content > div {
  overflow: hidden;
  // border-right: 1px solid $color-dirtywhite;
}

.landing_slice {
  background: $color-fadedblack;
  border-left: 1px solid $color-dirtywhite;
  border-bottom: 1px solid $color-dirtywhite;
}

.landing_slice h3 {
  color: $color-dirtywhite;
  width: 91.5vw;
  font: 400 20rem/85% 'Formula Condensed';
  padding: 6rem 0 0 3rem;
  text-shadow: 0.4rem 0 $color-accent1,
               0.8rem 0 $color-accent2;
  @media screen and (aspect-ratio > 1.75) {
    width: calc(100vw - 17vh);
    font-size: 25vh;
    padding: 8vh 0 0 4vh;
    text-shadow: 0.8vh 0 $color-accent1,
                 1.6vh 0 $color-accent2;
  }
}
// END LANDING SECTION

// WELCOME SECTION
.welcome {
  position: relative;
  >div:not(.welcome_content) {
    display: flex;
    align-items: center;
  }
  .section_number {
    border: 1px solid $color-dirtywhite;
    background: $color-fadedblack;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60%;
    @media screen and (aspect-ratio > 1.75) {
      margin-bottom: 40vh;
    }
  }
}

.welcome_content {
  position: absolute;
  top: -1px;
  left: 30%;
  height: 100dvh;
}

.welcome h1 {
  color: $color-dirtywhite;
  background: $color-fadedblack;
  border: 1px solid $color-dirtywhite;
  font: 100 120rem/50% 'Formula Condensed';
  letter-spacing: -0.03em;
  padding: 36rem 0 0 0;
  width: 338rem;
}

.welcome_definition {
  width: 50rem;
  background: $color-accent1;
  border: 2px solid $color-fadedblack;
  padding: 3rem;
  span {
    display: block;
    font: 400 4rem/100% 'Formula Condensed';
  }
  span:last-of-type {
    font: italic 700 1.8rem/120% 'Neue Montreal';
    margin-bottom: 2rem;
  }
  p:first-of-type {
    text-transform: uppercase;
    font: 400 2.5rem/120% 'Neue Montreal';
    margin-bottom: 2rem;
  }
  p:last-of-type {
    font: 100 1.6rem/120% 'Neue Montreal';
    text-transform: uppercase;
    text-align: right;
  }
  @media screen and (aspect-ratio > 1.75) {
    width: 62vh;
    padding: 4vh;
    span {
      font-size: 5vh;
      &:last-of-type {
        font-size: 2vh;
      }
    }
    p:first-of-type {
      font-size: 3vh;
    }
    p:last-of-type {
      font-size: 2.5vh;
    }
  }
}
// END WELCOME SECTION

// SELECTEDWORKS SECTION
.selectedworks_top {
  display: flex;
  .section_number {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.selectedworks_counter {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2rem;
  background: $color-fadedblack;
  border-left: 1px solid $color-dirtywhite;
}

.selectedworks_counter-mask {
  color: $color-accent1;
  font: 400 2.5rem/100% 'Neue Montreal';
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  height: 2.2rem;
  width: 100%;
  overflow: hidden;
  span {
    color: $color-dirtywhiteHalf;
    font-size: 1.5rem;
  }
  @media screen and (aspect-ratio > 1.75) {
    font-size: 3.5vh;
    height: 3vh;
    span {
      font-size: 2.5vh;
    };
  }
}

.selectedworks_counter_column {
  width: 1.5rem;
  word-break: break-all;
  text-align: center;
  &:first-of-type {
    text-align: right;
  }
  @media screen and (aspect-ratio > 1.75) {
    width: 2vh;
  }
}

.selectedworks_sidebar {
  color: $color-dirtywhite;
  padding: 2rem;
  border-right: 1px solid $color-dirtywhite;
  font: 400 25rem/100% 'Neue Montreal';
  letter-spacing: -0.03em;
  span {
    font: 800 23.5rem/100% 'Formula Condensed';
    letter-spacing: 0.01em;
  }
  @media screen and (aspect-ratio > 1.75) {
    padding: 2vh;
    line-height: 90%;
  }
}

.selectedworks_projects {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.selectedworks_project {
  color: $color-dirtywhite;
  height: calc(100dvh - 4.6vw);
  position: relative;
  padding-top: 20%;
  @media screen and (aspect-ratio > 1.75) {
    height: 92vh;
    padding-top: 15vh;
  }
}

.selectedworks_project-right {
  text-align: right;
  .selectedworks_project_info {
    justify-content: flex-end;
    padding-left: unset;
    padding-right: 5rem;
  }
  .selectedworks_project_button {
    margin-left: unset;
    margin-right: 5rem;
  }
  @media screen and (aspect-ratio > 1.75) {
    .selectedworks_project_info {
      padding-right: 10vh;
    }
    .selectedworks_project_button {
      margin-right: 10vh;
    }
  }
}

.selectedworks_project_awards {
  font: 400 1.4rem/140% 'Neue Montreal';
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  text-align: left;
  top: 5%;
  left: 0;
  span {
    display: block;
  }
  @media screen and (aspect-ratio > 1.75) {
    font-size: 1.8vh;
    top: 2vh;
  }
}

.selectedworks_project_info {
  font: 400 1.6rem/120% 'Neue Montreal';
  text-transform: uppercase;
  display: flex;
  text-align: right;
  padding-left: 5rem;
  span:first-of-type {
    text-align: left;
    margin-right: 2.5rem;
  }
  a {
    text-decoration: none;
    color: inherit;
    transition: all 300ms ease-in-out;
    position: relative;
    &::after {
      content: "";
      display: block;
      width: 0%;
      height: 0.1rem;
      position: absolute;
      background: $color-accent1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 300ms ease-in-out;
    }
    &:hover {
      color: $color-accent1;
      &::after {
        width: 100%;
      }
    }
  }
  @media screen and (aspect-ratio > 1.75) {
    font-size: 2vh;
    padding-left: 10vh;
    span:first-of-type {
      margin-right: 2.5vh;
    }
  }
}

.selectedworks_project_title {
  font: 400 15rem/100% 'Neue Montreal';
  text-transform: uppercase;
  letter-spacing: -0.03em;
  margin: 2.5rem auto 5rem;
  span {
    font: 700 15rem/100% 'Formula Condensed';
    letter-spacing: 0.015em;
  }
  @media screen and (aspect-ratio > 1.75) {
    font-size: 18vh;
    margin: 3vh auto;
    span {
      font-size: 18vh;
    }
  }
}

.selectedworks_project_button {
  all: unset;
  cursor: pointer;
  border: 0.1rem solid $color-accent1;
  border-radius: 2.5rem;
  box-sizing: border-box;
  color: $color-accent1;
  font: 300 2.8rem/100% 'Formula Condensed';
  height: 5rem;
  margin-left: 5rem;
  padding: 1rem 2rem 0;
  text-transform: uppercase;
  transition: all 400ms ease;
  &:hover {
    box-shadow: 5px 5px 10px -5px $color-accent1, inset -5px -5px 25px -10px $color-accent1;
    color: $color-dirtywhite;
  }
  &:active {
    box-shadow: none;
    color: $color-dirtywhite;
  }
  @media screen and (aspect-ratio > 1.75) {
    font-size: 3.5vh;
    height: 6vh;
    padding: 1.5vh 2.5vh 0.5vh;
    border-radius: 3vh;
  }
}
// END SELECTEDWORKS SECTION

// PROJECTPAGE
.projectpage {
  color: $color-dirtywhite;
  position: relative;
  padding: 4rem 5rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  > * { pointer-events: all;}
  @media screen and (aspect-ratio > 1.75) {
    padding: 4vh 5vh 5vh;
  }
}

.projectpage_top {
  display: flex;
  flex-wrap: wrap;
  padding-left: 45rem;
  p {
    font: 400 1.6rem/120% 'Neue Montreal';
    letter-spacing: 0.03em;
    transform: translateY(50%);
    opacity: 0;
  }
  @media screen and (aspect-ratio > 1.75) {
    padding-left: 45vh;
    p {
      font-size: 2vh;
      max-width: 100vh;
    }
  }
}

.projectpage_back {
  position: absolute;
  top: 5rem;
  left: 5rem;
  background: $color-fadedblack;
  border: 1px solid $color-accent1;
  border-radius: 2.5rem;
  box-sizing: border-box;
  color: $color-accent1;
  cursor: pointer;
  font: 300 2.8rem/100% 'Formula Condensed';
  height: 5rem;
  padding: 1rem 2rem 0;
  transition: box-shadow 400ms ease, color 400ms ease;
  &:hover {
    box-shadow: 5px 5px 10px -5px $color-accent1, inset -5px -5px 25px -10px $color-accent1;
    color: $color-dirtywhite;
  }
  &:active {
    box-shadow: none;
    color: $color-dirtywhite;
  }
  transform: translateY(50%) scale(0.8);
  opacity: 0;
  @media screen and (aspect-ratio > 1.75) {
    font-size: 3.5vh;
    height: 6vh;
    padding: 1.5vh 2.5vh 0.5vh;
    border-radius: 3vh;
    top: 5vh;
    left: 5vh;
  }
}

.projectpage h3 {
  font: 400 6.4rem/100% 'Neue Montreal';
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-right: 5rem;
  div:last-of-type span {
    font: 700 6.4rem/100% 'Formula Condensed';
    letter-spacing: 0.01em;
  }
  div {
    overflow: hidden;
    span {
      display: inline-block;
      transform: translateY(110%);
    }
  }
  @media screen and (aspect-ratio > 1.75) {
    font-size: 8vh;
    margin-right: 10vh;
    div:last-of-type span {
      font-size: 8vh;
    }
  }
}

.projectpage_info {
  font: 400 1.6rem/120% 'Neue Montreal';
  text-transform: uppercase;
  white-space: pre;
  padding-top: 2rem;
  div {
    margin-bottom: 0.2rem;
    overflow: hidden;
    span, a {
      transform: translateY(2rem);
      display: inline-block;
    }
    span:first-of-type {
      width: 9.5rem;
    }
  }
  a {
    text-decoration: none;
    color: inherit;
    transition: color 300ms ease-in-out;
    position: relative;
    &::after {
      content: "";
      display: block;
      width: 0%;
      height: 0.1rem;
      position: absolute;
      background: $color-accent1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: width 300ms ease-in-out;
    }
    &:hover {
      color: $color-accent1;
      &::after {
        width: 100%;
      }
    }
  }
  @media screen and (aspect-ratio > 1.75) {
    font-size: 2vh;
    padding-top: 2vh;
    div {
      margin-bottom: 0.5vh;
      span, a {
        transform: translateY(2.5vh)
      }
      span:first-of-type {
        width: 10vh;
      }
    }
  }
}

.projectpage_carousel {
  width: max-content;
  height: 40rem;
  position: relative;
  overflow: visible;
  display: flex;
  img {
    transform: translateY(30%);
    opacity: 0;
    height: 100%;
    width: 60rem;
    object-fit: cover;
    object-position: top;
    margin-right: 5rem;
    border: 1px solid $color-dirtywhite;
  }
  @media screen and (aspect-ratio > 1.75) {
    height: 50vh;
    img {
      width: 75vh;
      margin-right: 5vh;
    }
  }
}

.projectpage_carousel_nav {
  transform: translateY(50%);
  padding-left: 45rem;
  opacity: 0;
  button {
    box-sizing: border-box;
    font: 300 4.8rem/100% 'Formula Condensed';
    color: $color-accent1;
    border: 1px solid $color-accent1;
    padding: 0.5rem 1.5rem 0;
    border-radius: 50%;
    margin: 0 2.5rem;
    cursor: pointer;
    transition: all 400ms ease;
    &:hover {
      box-shadow: 5px 5px 10px -5px $color-accent1, inset -5px -5px 25px -10px $color-accent1;
      color: $color-dirtywhite;
    }
    &:active {
      box-shadow: none;
      color: $color-dirtywhite;
    }
  }
  @media screen and (aspect-ratio > 1.75) {
    padding-left: 40%;
    button {
      font-size: 6vh;
      height: 6vh;
      padding: 0.5vh 1.5vh 0;
      border-radius: 3vh;
    }
  }
}

.projectpage_visit {
  text-decoration: none;
  position: absolute;
  bottom: 5rem;
  right: 5rem;
  background: $color-accent1;
  border: 1px solid $color-fadedblack;
  border-radius: 2.5rem;
  box-sizing: border-box;
  color: $color-fadedblack;
  cursor: pointer;
  font: 300 2.8rem/100% 'Formula Condensed';
  height: 5rem;
  padding: 1.5rem 2rem 0;
  transition: box-shadow 400ms ease, color 400ms ease, border 400ms ease, background 400ms ease;
  transform: translateY(50%) scale(0.8);
  opacity: 0;
  &:hover {
    box-shadow: 5px 5px 10px -5px $color-accent1, inset -5px -5px 25px -10px $color-accent1;
    color: $color-accent1;
    border: 1px solid $color-accent1;
    background: $color-fadedblack
  }
  &:active {
    box-shadow: none;
    color: $color-accent1;
    border: 1px solid $color-accent1;
    background: $color-fadedblack
  }
  @media screen and (aspect-ratio > 1.75) {
    font-size: 3.5vh;
    height: 6vh;
    padding: 1.5vh 2.5vh 0.5vh;
    border-radius: 3vh;
    bottom: 5vh;
    right: 5vh;
  }
}
// END PROJECT PAGE

// EXPERIMENTS SECTION
.experiments_top {
  display: flex;
  .section_number {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid $color-dirtywhite;
  }
  .section_title {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2rem;
    background: $color-fadedblack;
    border-left: 1px solid $color-dirtywhite;
    font: 400 2.5rem 'Neue Montreal';
    letter-spacing: -0.075rem;
    color: $color-dirtywhite;
  }
  @media screen and (aspect-ratio > 1.75) {
    .section_title {
      font-size: 3vh;
      margin-right: 3vh;
    }
  }
}

.experiments_side {
  padding: 2rem;
  overflow: hidden;
  background: $color-fadedblack;
  border: 1px solid $color-dirtywhite;
  border-bottom: none;
  @media screen and (aspect-ratio > 1.75) {
    padding: 3vh;
  }
}

.experiments_side_text {
  writing-mode: vertical-lr;
  color: $color-dirtywhite;
  font: 700 16vh/0.5 'Formula Condensed';
  letter-spacing: 0.04em;
  transform: scaleX(3.2);
  transform-origin: left;
}

.experiment_image {
  a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-decoration: none;
    cursor: url('../assets/images/cursor.svg'), pointer;
    color: $color-dirtywhite;
    font: 700 5rem/100% 'Formula Condensed';
    letter-spacing: 0.03em;
    text-transform: uppercase;
    overflow: hidden;
    &:visited {
      color: $color-dirtywhite;
    }
    span {
      transform: translateY(110%);
    }
  }
  @media screen and (aspect-ratio > 1.75) {
    a {
      font-size: 6vh;
    }
  }
}
// END EXPERIMENTS SECTION

// MOTTO SECTION
.motto_cta {
  position: absolute;
  width: 60%;
  bottom: 0;
  padding: 5rem;
  color: $color-dirtywhite;
  p {
    font: 400 3.5rem/110% 'Neue Montreal';
    letter-spacing: -0.03em;
    margin-bottom: 5rem;
  }
  button {
    background: $color-fadedblack;
    border: 1px solid $color-accent1;
    border-radius: 2.5rem;
    box-sizing: border-box;
    color: $color-accent1;
    cursor: pointer;
    font: 300 2.8rem/100% 'Formula Condensed';
    height: 5rem;
    padding: 1rem 2rem 0;
    transition: background 400ms ease, box-shadow 400ms ease, color 400ms ease;
    &:hover {
      background: $color-fadedblack;
      box-shadow: 5px 5px 10px -5px $color-accent1, inset -5px -5px 25px -10px $color-accent1;
      color: $color-dirtywhite;
    }
    &:active {
      box-shadow: none;
      color: $color-dirtywhite;
    }
  }
  @media screen and (aspect-ratio > 1.75) {
    padding: 5vh 15vh;
    p {
      font-size: 4vh;
      margin-bottom: 6vh;
    }
    button {
      font-size: 3.5vh;
      height: 6vh;
      padding: 1.5vh 2.5vh 0.5vh;
      border-radius: 3vh;
    }
  }
}

.motto_slices {
  border-left: 1px solid $color-dirtywhite;
  .landing_slice {
    height: calc((100% - 4.4vw) / 3);
    border-left: none;
    border-right: 1px solid $color-dirtywhite;
    display: flex;
    align-items: center;
    text-align: right;
    h3 {
      padding: 6rem 3rem 0 0;
    }
  }
  @media screen and (aspect-ratio > 1.75) {
    .landing_slice {
      height: calc((100% - 8vh) / 3 + 1px);
    }
  }
}

.motto_top {
  display: flex;
  border-bottom: 1px solid $color-dirtywhite;
  .section_number {
    background: $color-fadedblack;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section_title {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2rem;
    background: $color-fadedblack;
    border-left: 1px solid $color-dirtywhite;
    font: 400 2.5rem 'Neue Montreal';
    letter-spacing: -0.075rem;
    color: $color-dirtywhite;
  }
  @media screen and (aspect-ratio > 1.75) {
    .section_title {
      padding-right: 3vh;
      font-size: 3vh;
    }
  }
}
// END MOTTO SECTION

// CREDITS SECTION
.credits {
  display: flex;
  flex-direction: column;
  border-left: 1px solid $color-dirtywhite;
}

.credits_top {
  background: $color-fadedblack;
  color: $color-dirtywhite;
  display: flex;
  align-items: center;
  .section_number {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid $color-dirtywhite;
  }
  p {
    flex-grow: 1;
    text-align: right;
    margin-right: 2rem;
    font: 400 2.5rem 'Neue Montreal';
    letter-spacing: -0.075rem;
    color: $color-dirtywhite;
  }
  @media screen and (aspect-ratio > 1.75) {
    p {
      font-size: 3vh;
    }
  }
}

.credits_bottom {
  background: $color-dirtywhite;
  color: $color-fadedblack;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
  padding: 2rem;
  @media screen and (aspect-ratio > 1.75) {
    padding: 2vh;
    // flex-direction: row;
  }
}

.credits_project_links {
  margin-bottom: auto;
}

.credits_project_link {
  font: 400 4rem/100% 'Neue Montreal';
  letter-spacing: -0.03rem;
  text-transform: uppercase;
  display: flex;
  width: max-content;
  margin-bottom: 1rem;
  position: relative;
  transition: color 300ms ease-in-out;
  &::after {
    content: "";
    display: block;
    width: 0%;
    height: 0.2rem;
    position: absolute;
    background: $color-accent1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 300ms ease-in-out;
  }
  &:hover {
    color: $color-accent1;
    cursor: pointer;
    &::after {
      width: 100%;
    }
  }
  @media screen and (aspect-ratio > 1.75) {
    font-size: 5vh;
  }
}

.credits_contributors {
  @media screen and (aspect-ratio > 1.75) {
    display: flex;
    justify-content: space-between;
  }
}

.credits_contributor {
  margin-top: 2rem;
  @media screen and (aspect-ratio > 1.75) {
    margin-top: unset;
    margin-bottom: 5vh;
    margin-right: 5vh;
  }
}

.credits_role {
  font: 400 2.5rem/120% 'Neue Montreal';
  display: block;
  margin-bottom: 1rem;
  @media screen and (aspect-ratio > 1.75) {
    font-size: 3vh;
    margin-bottom: 1vh;
  }
}

.credits_name {
  font: 200 3rem/100% 'Formula Condensed';
  text-transform: uppercase;
  display: block;
  margin-bottom: 1rem;
  @media screen and (aspect-ratio > 1.75) {
    font-size: 3.5vh;
  }
}

.credits_social_links {
  a {
    margin-right: 1rem;
    svg {
      height: 3rem;
      width: auto;
      transition: transform 300ms ease;
    }
    &:hover {
      svg {
        transform: scale(1.1)
      }
    }
  }
  @media screen and (aspect-ratio > 1.75) {
    a {
      margin-right: 1vh;
      svg {
        height: 5vh;
      }
    }
  }
}
// END CREDITS SECTION
