$color-dirtywhite: #D3D3D3;
$color-dirtywhiteHalf: #757575;
$color-fadedblack: #191919;
$color-accent1: #FF2647;
$color-accent2: #32DEED;

// MENU COMPONENT
.menu, .menu_drawer {
  border-right: 1px solid $color-dirtywhite;
  background: $color-fadedblack;
  @media screen and (aspect-ratio < 1) {
    border-right: none;
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid $color-dirtywhite;
  z-index: 50;
  @media screen and (aspect-ratio < 1) {
    border-left: none;
    border-top: 1px solid $color-dirtywhite;
    border-bottom: 1px solid $color-dirtywhite;
  }
}

.menu svg {
  cursor: pointer;
  box-sizing: content-box;
  @media screen and (aspect-ratio < 1) {
    height: 8vw;
    width: auto;
  }
}

.menu_drawer {
  display: flex;
  @media screen and (aspect-ratio < 1) {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}

.menu_links {
  width: 100%;
  color: $color-dirtywhite;
  padding: 4rem 5rem 5rem 5rem;
  @media screen and (aspect-ratio > 1.8) {
    padding: 5vh;
  }
  @media screen and (aspect-ratio < 1) {
    padding: 5vw;
  }
}

.menu_links-projects, .menu_links-experiments {
  height: 50%;
  display: flex;
  flex-direction: column;
  > span {
    display: flex;
    font: 400 2.5rem/100% 'Neue Montreal';
    margin-bottom: 2rem;
    hr {
      width: 100%;
      border-color: $color-accent1;
      margin-left: 1.5rem;
    }
  }
  @media screen and (aspect-ratio > 1.8) {
    height: 100%;
    > span {
      font-size: clamp(16px, 2.5vh, 2.5vh);
      margin-bottom: 2.5vh;
    }
  }
  @media screen and (aspect-ratio < 1) {
    > span {
      font-size: 4vw;
      margin-bottom: 4vw;
      hr {
        width: 100%;
        margin-left: 2vw;
      }
    }
  }
}

.menu_links-projects {
  @media screen and (aspect-ratio > 1.8) {
    width: 75%;
    margin-right: 3%;
    height: 50%;
  }
  @media screen and (aspect-ratio < 1) {
    height: max-content;
    margin-bottom: 2vw;
  }
}

.menu_links-experiments {
  width: 50%;
  > span hr {
    width: 65%;
  }
  @media screen and (aspect-ratio < 1) {
    width: 100%;
    > span hr {
      width: 100%;
    }
  }
}

.menu_links-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 80%;
  @media screen and (aspect-ratio > 1.8) {
    width: 100%;
  }
}

.menu_link {
  font: 200 4.5rem/100% 'Formula Condensed';
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  width: max-content;
  margin: 0.5rem 0;
  cursor: pointer;
  @media screen and (aspect-ratio > 1.8) {
    font-size: 5vh;
    margin: 1vh 0;
    letter-spacing: 0;
  }
  @media screen and (aspect-ratio < 1) {
    font-size: clamp(0px, 7vw, 3vh);
    margin: 0 0 clamp(0px, 2vw, 1vh) 0;
  }
}

.menu_opencontact {
  position: absolute;
  right: 5rem;
  bottom: 5rem;
  cursor: pointer;
  border: 0.1rem solid $color-accent1;
  border-radius: 2.5rem;
  box-sizing: border-box;
  color: $color-accent1;
  font: 200 2.8rem/100% 'Formula Condensed';
  letter-spacing: 0.03em;
  height: 5rem;
  margin-right: 3rem;
  padding: 1rem 2rem 0;
  text-transform: uppercase;
  transition: all 400ms ease;
  &:hover {
    box-shadow: 5px 5px 10px -5px $color-accent1, inset -5px -5px 25px -10px $color-accent1;
    color: $color-dirtywhite;
  }
  &:active {
    box-shadow: none;
    color: $color-dirtywhite;
  }
  @media screen and (aspect-ratio > 1.8) {
    right: 5vh;
    bottom: 5vh;
    font-size: 3.5vh;
    border-radius: 3vh;
    height: 6vh;
    padding: 1.5vh 2vh 0;
  }
  @media screen and (aspect-ratio < 1) {
    right: 5vw;
    bottom: 5vw;
    font-size: 6vw;
    border-radius: 6vw;
    height: 11vw;
    padding: 2vw 6vw 0;
    margin-right: 0;
  }
}

@keyframes spin {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

.menu_teaser {
  color: $color-dirtywhite;
  font: 400 1.6rem 'Neue Montreal';
  writing-mode: vertical-lr;
  width: 4.5rem;
  padding: 2.5rem 0;
  border-left: 1px solid $color-dirtywhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 2.5rem 0;
  }
  svg {
    width: 2rem;
    height: 2rem;
    animation: spin 10s linear infinite;
    &:last-of-type {
      animation-direction: reverse;
    }
  }
  @media screen and (aspect-ratio > 1.8) {
    font-size: 2.2vh;
    width: 6vh;
    padding: 2vh 1.5vh;
    svg {
      width: 2.5vh;
      height: 2.5vh;
    }
  }
  @media screen and (aspect-ratio < 1) {
    writing-mode: unset;
    font-size: 4vw;
    padding: 0 1.5vw;
    width: 100%;
    height: 8vw;
    border-left: unset;
    border-top: 1px solid $color-dirtywhite;
    border-bottom: 1px solid $color-dirtywhite;
    div {
      margin: 0 1.5vw;
      span:nth-of-type(2) {
        display: none;
      }
    }
    svg {
      width: 4vw;
      height: 4vw;
    }
  }
}
// END MENU COMPONENT

// CONTACT FORM COMPONENT
.contact_form {
  position: absolute;
  left: 0;
  top: 100%;
  width: calc(100% - 3.1vw);
  height: 100%;
  background: $color-fadedblack;
  color: $color-dirtywhite;
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $color-dirtywhite;
  @media screen and (aspect-ratio > 1.8) {
    width: calc(100% - 6vh);
    padding: 5vh;
  }
  @media screen and (aspect-ratio < 1) {
    width: 100%;
    flex-direction: column;
  }
}

form {
  width: 70%;
  display: flex;
  flex-direction: column;
  @media screen and (aspect-ratio < 1) {
    width: 100%;
    flex-grow: 1;
  }
}

.form_heading {
  font: 600 8rem/120% 'Formula Condensed';
  text-transform: uppercase;
  border-bottom: 0.3rem solid $color-accent1;
  width: max-content;
  margin-bottom: 5rem;
  @media screen and (aspect-ratio > 1.8) {
    font-size: 8vh;
    border-bottom: 0.5vh solid $color-accent1;
  }
  @media screen and (aspect-ratio < 1) {
    font-size: 10vw;
    width: 100%;
    margin-bottom: 5vw;
  }
}

.form_input {
  display: flex;
  width: 100%;
  margin-bottom: 3rem;
  label {
    font: 400 2.5rem/100% 'Neue Montreal';
    margin-right: 1.5rem;
    svg {
      transform: translate(.5rem, -.5rem);
    }
  }
  input {
    all: unset;
    flex-grow: 1;
    border-bottom: 1px solid  $color-dirtywhite;
    font: 400 2.5rem/100% 'Neue Montreal';
    padding-bottom: 0.5rem;
    transform: translateY(-0.2rem);
    &:focus {
      border-bottom: 1px solid $color-accent1;
    }
  }
  @media screen and (aspect-ratio > 1.8) {
    margin-bottom: 3vh;
    label {
      margin-right: 2vh;
      font-size: 3vh;
    }
    input {
      font-size: 3vh;
      padding-bottom: 0.5vh;
    }
  }
  @media screen and (aspect-ratio < 1) {
    margin-bottom: 5vw;
    label {
      font-size: clamp(16px, 4vw, 4vw);
      margin-right: 2vw;
      svg {
        height: 3vw;
        width: auto;
        transform: translate(0, -2vw);
      }
    }
    input {
      font-size: clamp(16px, 4vw, 4vw);
      padding-bottom: 1vw;
    }
  }
}

.form_slider {
  display: flex;
  margin-bottom: 3rem;
  label {
    font: 400 2.5rem/100% 'Neue Montreal';
    margin-right: 1.5rem;
  }
  .slider_wrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;
    span {
      font: 400 2rem/100% 'Neue Montreal';
    }
    div {
      display: flex;
      align-items: center;
      flex-grow: 1;
      position: relative;
      span {
        font-size: 1.5rem;
        position: absolute;
        top: -3rem;
        left: 13%;
      }
    }
    input {
      appearance: none;
      -webkit-appearance: none;
      width: 100%;
      background: transparent;
      &::-webkit-slider-runnable-track {
        background: $color-accent1;
        height: 2px;
        border-radius: 1px
      }
      &::-webkit-slider-thumb {
        appearance: none;
        -webkit-appearance: none;
        background: $color-dirtywhite;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        transform: translateY(-0.9rem);
      }
    }
  }
  @media screen and (aspect-ratio > 1.8) {
    margin-bottom: 3vh;
    label {
      font-size: 3vh;
      margin-right: 2vh;
    }
    .slider_wrapper {
      > span {
        font-size: 2vh;
        &:first-of-type {
          margin-right: 1vh;
        }
        &:last-of-type {
          margin-left: 1vh;
        }
      }
      div span {
        font-size: 2vh;
        top: -3.5vh;
      }
      input::-webkit-slider-thumb {
        height: 3vh;
        width: 3vh;
        transform: translateY(-1.4vh);
      }
    }
  }
  @media screen and (aspect-ratio < 1) {
    margin-bottom: 5vw;
    label {
      font-size: clamp(16px, 4vw, 4vw);
      margin-right: 2vw;
    }
    .slider_wrapper {
      > span {
        font-size: clamp(14px, 3vw, 3vw);
        &:first-of-type {
          margin-right: 1vw;
        }
        &:last-of-type {
          margin-left: 1vw;
        }
      }
      div span {
        font-size: clamp(14px, 3vw, 3vw);
        top: -5vw;
        transform: translateX(-3vw);
      }
      input::-webkit-slider-thumb {
        height: 3vw;
        width: 3vw;
        transform: translateY(-1.3vw);
      }
    }
  }
}

.form_textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  margin-bottom: 3rem;
  label {
    display: block;
    font: 400 2.5rem/100% 'Neue Montreal';
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    svg {
      transform: translate(.5rem, -.5rem);
    }
  }
  textarea {
    resize: none;
    background: $color-dirtywhite;
    border-radius: 1rem;
    font: 400 2rem/125% 'Neue Montreal';
    padding: 1rem;
    display: block;
    flex-grow: 1;
    &:focus {
      outline: 0.2rem solid $color-accent1;
    }
  }
  @media screen and (aspect-ratio > 1.8) {
    margin-bottom: 3vh;
    label {
      font-size: 3vh;
      margin-right: 2vh;
      margin-bottom: 2vh;
    }
    textarea {
      font-size: 2vh;
      border-radius: 1vh;
      padding: 1vh;
    }
  }
  @media screen and (aspect-ratio < 1) {
    margin-bottom: 5vw;
    label {
      font-size: clamp(16px, 4vw, 4vw);
      margin-right: 2vw;
      margin-bottom: 2vw;
      svg {
        height: 3vw;
        width: auto;
        transform: translate(0, -2vw);
      }
    }
    textarea {
      font-size: clamp(16px, 4vw, 4vw);
      padding-bottom: 1vw;
    }
  }
}

.form_buttons {
  button {
    cursor: pointer;
    border: 0.1rem solid $color-accent1;
    border-radius: 2.5rem;
    box-sizing: border-box;
    color: $color-accent1;
    font: 200 2.8rem/100% 'Formula Condensed';
    letter-spacing: 0.03em;
    height: 5rem;
    margin-right: 3rem;
    padding: 1rem 2rem 0;
    text-transform: uppercase;
    transition: all 400ms ease;
    &:hover {
      box-shadow: 5px 5px 10px -5px $color-accent1, inset -5px -5px 25px -10px $color-accent1;
      color: $color-dirtywhite;
    }
    &:active {
      box-shadow: none;
      color: $color-dirtywhite;
    }
  }
  @media screen and (aspect-ratio > 1.8) {
    button {
      font-size: 3.5vh;
      height: 6vh;
      padding: 1.5vh 2.5vh 0.5vh;
      border-radius: 3vh;
    }
  }
  @media screen and (aspect-ratio < 1) {
    button {
      font-size: 6vw;
      border-radius: 6vw;
      height: 11vw;
      padding: 2vw 6vw 0;
      margin-right: 5vw;
    }
  }
}

.contact_thanks {
  position: absolute;
  top: 5rem;
  left: 5rem;
  font: 300 4rem 'Formula Condensed';
  letter-spacing: 0.03em;
  transform: translateY(-10%);
  opacity: 0;
  @media screen and (aspect-ratio > 1.8) {
    top: 5vh;
    left: 5vh;
    font-size: 4vh;
  }
  @media screen and (aspect-ratio < 1) {
    top: 5vw;
    left: 5vw;
    font-size: 4vw;
  }
}

.email {
  @media screen and (aspect-ratio < 1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5vw;
    order: -1;
  }
}

.email_heading {
  font: 300 4rem/120% 'Formula Condensed';
  margin-bottom: 2rem;
  @media screen and (aspect-ratio > 1.8) {
    font-size: 5vh;
  }
  @media screen and (aspect-ratio < 1) {
    font-size: 5vw;
    margin: 0;
  }
}

.email_link {
  all: unset;
  cursor: pointer;
  font: 300 3.5rem/100% 'Formula Condensed';
  display: flex;
  transition: color 400ms ease;
  svg {
    margin-left: 2rem;
    height: 3rem;
    width: auto;
    overflow: visible;
    #email_arrow {
      transition: transform 400ms ease;
    }
  }
  &:hover {
    color: $color-accent1;
    #email_arrow {
      transform: translateX(1rem);
    }
  }
  @media screen and (aspect-ratio > 1.8) {
    font-size: 4vh;
    svg {
      margin-left: 3vh;
      height: 4vh;
    }
  }
  @media screen and (aspect-ratio < 1) {
    font-size: 6vw;
    svg {
      margin-left: 3vw;
      height: 4vw;
    }
  }
}
// END CONTACTFORM COMPONENT
