$color-dirtywhite: #D3D3D3;
$color-dirtywhiteHalf: #757575;
$color-fadedblack: #010101;
$color-accent1: #FF2647;
$color-accent2: #32DEED;

.preloader__wrapper {
  width: 100vw;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  background: $color-fadedblack;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-dirtywhite;
}

.preloader__percentage {
  font: 600 6rem 'Formula Condensed';
  color: $color-accent1;
  padding: 1rem;
  background: $color-fadedblack;
  position: relative;
  opacity: 0;
  @media screen and (aspect-ratio < 1) {
    font-size: 10vw;
  }
}

.preloader__bar {
  height: 2px;
  width: 0%;
  background: $color-accent1;
  position: absolute;
  left: 50%;
  top: 49%;
  transform: translateX(-50%);
  @media screen and (aspect-ratio < 1) {
    top: 49%;
    height: 2px;
  }
}
