$color-dirtywhite: #F0E6E6;
$color-dirtywhiteHalf: #757575;
$color-fadedblack: #010101;
$color-accent1: #FF2647;
$color-accent2: #32DEED;

// WELCOME SECTION
.welcome {
  position: relative;
  >div:not(.welcome_content) {
    display: flex;
    align-items: center;
    border: 1px solid $color-dirtywhite;
    border-top: none;
    border-bottom: none;
  }
  .section_number {
    border: 1px solid $color-dirtywhite;
    background: $color-fadedblack;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60%;
    @media screen and (aspect-ratio > 1.6) {
      margin-bottom: 40vh;
    }
  }
}

.welcome_content {
  position: absolute;
  top: -1px;
  left: 30%;
  height: 100vh;
  @media screen and (aspect-ratio < 1) {
    height: calc(100vh - 23vw);
    left: 5%;
  }
}

.welcome h1 {
  color: $color-dirtywhite;
  background: $color-fadedblack;
  font: 100 120rem/50% 'Formula Condensed';
  letter-spacing: -0.03em;
  padding: 36rem 0 0 0;
  width: 338rem;
  @media screen and (aspect-ratio < 1) {
    font-size: 120dvh;
    padding: 36dvh 0 0 0;
    width: 338dvh;
  }
}

.welcome_definition {
  width: 50rem;
  background: $color-accent1;
  border: 2px solid $color-fadedblack;
  padding: 3rem;
  span {
    display: block;
    font: 400 4rem/100% 'Formula Condensed';
  }
  span:last-of-type {
    font: italic 700 1.8rem/120% 'Neue Montreal';
    margin-bottom: 2rem;
  }
  p:first-of-type {
    text-transform: uppercase;
    font: 400 2.5rem/120% 'Neue Montreal';
    margin-bottom: 2rem;
  }
  p:last-of-type {
    font: 100 1.6rem/120% 'Neue Montreal';
    text-transform: uppercase;
    text-align: right;
  }
  @media screen and (aspect-ratio > 1.6) {
    width: 62vh;
    padding: 4vh;
    span {
      font-size: 5vh;
      &:last-of-type {
        font-size: 2vh;
      }
    }
    p:first-of-type {
      font-size: 3vh;
    }
    p:last-of-type {
      font-size: 2.5vh;
    }
  }
  @media screen and (aspect-ratio < 1) {
    width: 90vw;
    padding: 5vw;
    span:first-of-type {
      font-size: 7.6vw;
    }
    span:last-of-type {
      font-size: 4vw;
      margin-bottom: 4vw;
    }
    p:first-of-type {
      font-size: 5vw;
      margin-bottom: 4vw;
    }
    p:last-of-type {
      font-size: 3.8vw;
    }
  }
}
// END WELCOME SECTION
