@import url('./reset.css');
@import url('./assets/fonts/typography.css');

main {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
}

div {
  color: white;
  font: 50px 'Formula Condensed';
  transition: font-weight 400ms ease;
  font-weight: 100;
  &:hover {
    font-weight: 800;
  }
}
