@import url('./reset.css');
@import url('./assets/fonts/typography.css');

main {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
  color: white;
  font-family: 'Formula Condensed';
  text-transform: uppercase;
  em {
    font-feature-settings: 'ss01';
  }
}
